<%- include('partials/header') %>
    <main>
        <img src="/images/category.png" alt="Categories Logo" width="100">
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner categories:</p>
        <ul>
            <% categories.forEach(category=> { %>
                <li>
                    <%= category.name %>
                </li>
                <% }); %>
        </ul>
    </main>
    <%- include('partials/footer') %>