<%- include('partials/header') %>
    <main>
        <h1>Welcome to the Service Network</h1>
        <p>Our mission is to promote service across the world by connecting volunteers with service opportunities in their community.</p>
        <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="/organizations">View Partner Organizations</a></li>
            <li><a href="/projects">View Upcoming Projects</a></li>
            <li><a href="/categories">Browse by Category</a></li>
            <li><a href="/new-organization">Add a New Organization</a></li>
            <li><a href="/new-project">Add a New Project</a></li>
        </ul>
    </main>
<%- include('partials/footer') %>